In [651]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from scipy import stats

In [652]:
df = pd.read_csv('Gastos_Publicidade.csv', decimal = ',')
df_renomeado = df.set_axis(['Ano', 'Mes', 'Tipo_midia', 'inv', 'roi'], axis=1)
df = df_renomeado
df

      Ano  Mes     Tipo_midia       inv   roi
0    2022    1    Paginas web   87000.0  1000
1    2022    1  Redes sociais  120000.0   800
2    2022    1             TV  250000.0  1500
3    2022    1         Jornal  110000.0   730
4    2022    1        Revista   40000.0   360
..    ...  ...            ...       ...   ...
195  2024    7  Redes sociais  308000.0  2951
196  2024    7             TV  335664.0  2924
197  2024    7         Jornal  213248.0  2529
198  2024    7        Revista  145152.0  1638
199  2024    7          Radio  134288.0  1504

[200 rows x 5 columns]

In [653]:
# df.dtypes
df.isnull().sum()

Ano           0
Mes           0
Tipo_midia    0
inv           0
roi           0
dtype: int64

In [654]:
df_dummy = pd.get_dummies(df['Tipo_midia'])
df_dummy = df_dummy.mul(df['inv'], axis=0)
df_dummy[['Ano', 'Mes', "roi", 'inv']] = df[['Ano', 'Mes', 'roi', 'inv']]
df_agrupado = df_dummy.groupby(['Ano', 'Mes']).sum().reset_index()
df_agrupado = df_agrupado.set_axis(['Ano', 'Mes', 'inv_google','inv_insta','inv_jornal','inv_web','inv_radio','inv_social','inv_revista', 'inv_tv', 'roi', 'inv'], axis=1)
df_agrupado

,Ano,Mes,inv_google,inv_insta,inv_jornal,inv_web,inv_radio,inv_social,inv_revista,inv_tv,roi,inv
0,2022,1,0.0,0.0,110000.0,87000.0,75000.0,120000.0,40000.0,250000.0,4840,682000.0
1,2022,2,0.0,0.0,90000.0,80000.0,50000.0,110000.0,30000.0,200000.0,4460,560000.0
2,2022,3,0.0,0.0,110000.0,120000.0,70000.0,140000.0,60000.0,220000.0,5730,720000.0
3,2022,4,0.0,0.0,130000.0,125000.0,90000.0,140000.0,60000.0,280000.0,6530,825000.0
4,2022,5,0.0,0.0,150000.0,150000.0,110000.0,220000.0,80000.0,270000.0,7890,980000.0
5,2022,6,0.0,0.0,122000.0,120000.0,87000.0,180000.0,66000.0,230000.0,6470,805000.0
6,2022,7,0.0,0.0,170000.0,190000.0,110000.0,250000.0,120000.0,270000.0,11100,1110000.0
7,2022,8,0.0,0.0,70000.0,82000.0,0.0,101000.0,22000.0,120000.0,3390,395000.0
8,2022,9,0.0,0.0,119000.0,118800.0,92000.0,175000.0,60000.0,225000.0,6200,789800.0
9,2022,10,0.0,0.0,170000.0,190000.0,110000.0,250000.0,120000.0,270000.0,11100,1110000.0
10,2022,11,0.0,0.0,170000.0,210000.0,150000.0,240000.0,120000.0,290000.0,11200,1180000.0
11,2022,12,0.0,0.0,190000.0,260000.0,140000.0,270000.0,150000.0,290000.0,12900,1300000.0
12,2023,1,0.0,0.0,123200.0,97440.0,84000.0,136800.0,44800.0,295000.0,6195,781240.0
13,2023,2,0.0,0.0,100800.0,89600.0,56000.0,123200.0,33600.0,224000.0,5480,627200.0
14,2023,3,0.0,0.0,123200.0,134400.0,78400.0,156800.0,67200.0,246400.0,7021,806400.0
15,2023,4,0.0,0.0,145600.0,140000.0,100800.0,156800.0,67200.0,313600.0,8038,924000.0
16,2023,5,0.0,0.0,168000.0,168000.0,123200.0,246400.0,89600.0,302400.0,9685,1097600.0
17,2023,6,0.0,0.0,136640.0,134400.0,97440.0,201600.0,73920.0,257600.0,7937,901600.0
18,2023,7,0.0,0.0,190400.0,212800.0,123200.0,280000.0,134400.0,302400.0,13607,1243200.0
19,2023,8,0.0,0.0,78400.0,91840.0,0.0,113120.0,24640.0,134400.0,4118,442400.0
20,2023,9,0.0,0.0,133280.0,133056.0,103040.0,196000.0,67200.0,252000.0,7293,884576.0
21,2023,10,0.0,0.0,190400.0,212800.0,123200.0,280000.0,134400.0,302400.0,12947,1243200.0
22,2023,11,0.0,0.0,190400.0,235200.0,168000.0,268800.0,134400.0,324800.0,13680,1321600.0
23,2023,12,0.0,0.0,212800.0,291200.0,156800.0,302400.0,168000.0,324800.0,15442,1456000.0
24,2024,1,146900.0,194700.0,124432.0,99388.8,88200.0,145008.0,46592.0,309750.0,16496,1154970.8
25,2024,2,139100.0,174900.0,111888.0,96768.0,57120.0,134288.0,37632.0,246400.0,15236,998096.0
26,2024,3,136500.0,174900.0,130592.0,135744.0,84672.0,163072.0,71904.0,258720.0,16516,1156104.0
27,2024,4,143000.0,179850.0,154336.0,155400.0,101808.0,175616.0,70560.0,319872.0,18100,1300442.0
28,2024,5,136500.0,171600.0,183120.0,178080.0,136752.0,263648.0,98560.0,326592.0,19546,1494852.0
29,2024,6,132600.0,184800.0,142105.6,142464.0,103286.4,211680.0,77616.0,260176.0,17610,1254728.0
30,2024,7,140400.0,176550.0,213248.0,231952.0,134288.0,308000.0,145152.0,335664.0,24315,1685254.0

In [655]:
np.random.seed(42)

df_train = df_agrupado.sample(15)

df_agrupado = df_agrupado.drop(df_train.index)

samples = []
for i in range(5):
  samples.append(df_agrupado.sample(3))

X_train = df_train[['inv_google','inv_insta','inv_jornal','inv_web','inv_radio','inv_social','inv_revista','inv_tv']].to_numpy()
Y_train = df_train['roi'] 

linear_model = LinearRegression()
linear_model.fit(X_train, Y_train)
linear_score = linear_model.score(X_train, Y_train)

poly_features = PolynomialFeatures(degree=2)
X_poly_train = poly_features.fit_transform(X_train)
model_poly = LinearRegression()
model_poly.fit(X_poly_train, Y_train)
poly_score = model_poly.score(X_poly_train, Y_train)

test_score_poly = []
test_score_linear = []
for sample in samples:
  X_test = sample[['inv_google','inv_insta','inv_jornal','inv_web','inv_radio','inv_social','inv_revista','inv_tv']].to_numpy()
  Y_test = sample['roi']
  test_score_linear.append(linear_model.score(X_test, Y_test))

  X_poly_test = poly_features.fit_transform(X_test)
  test_score_poly.append(model_poly.score(X_poly_test, Y_test))

alpha = 0.1
t_test, p_value = stats.ttest_1samp(test_score_linear, popmean=linear_score)
if p_value > alpha:
  print("Aceito H0 para linear")
else:
  print("Aceito H1 para linear")
print("p-valor linear: ", p_value)
print("Linear score: ", linear_score)
print()

t_test, p_value = stats.ttest_1samp(test_score_poly, popmean=poly_score)
if p_value > alpha:
  print("Aceito H0 para poly")
else:
  print("Aceito H1 para poly")
print("p-valor poly: ", p_value)
print("Poly score: ", poly_score)

Aceito H0 para linear
p-valor linear:  0.3546282987512673
Linear score:  0.9983496989228918

Aceito H0 para poly
p-valor poly:  0.3248198213914813
Poly score:  1.0

In [656]:
coeficientes = linear_model.coef_

categorias = ['inv_google','inv_insta','inv_jornal','inv_web','inv_radio','inv_social','inv_revista','inv_tv']
mapa_coeficientes = dict(zip(categorias, coeficientes))

melhor_retorno = max(mapa_coeficientes, key=mapa_coeficientes.get)
pior_retorno = min(mapa_coeficientes, key=mapa_coeficientes.get)

# ConclusÃ£o

In [657]:
print("O melhor retorno Ã© da categoria: ", melhor_retorno)
print("O pior retorno Ã© da categoria: ", pior_retorno)

O melhor retorno Ã© da categoria:  inv_insta
O pior retorno Ã© da categoria:  inv_radio

In [658]:
# Entre as duas regressÃµes feitas a que obteve melhor resultado foi a regressÃ£o Linear, com um score de 0.99.
# A regressÃ£o polinomial obteve um score de 1.0, o que indica que o modelo estÃ¡ com overfitting. Demonstrando que nÃ£o Ã© um bom modelo e nÃ£o iria performar bem com dados novos.
# O melhor retorno Ã© da categoria Instagram e o pior retorno Ã© a categoria Radio.
# Quando concentramos o retorno e investimento em um dado mÃªs, as variÃ¡veis categÃ³ricas sÃ£o multiplicadas demonstrando que o investimento em publicidade Ã© feito em diversas categorias.